@import protobuf.character._

@(values: List[Player])

@Page.main {
    <p>
        <a href="@routes.PlayerController.create" class="label label-success">New @glyphicon("plus-sign")</a>
    </p>
    <table class="table table-striped">
        @for(value <- values) {
            <tr>
                <td>
                    <span class="label label-default"><small>@value.getId.id/</small> @value.name</span>
                </td>
                <td>
                    <span class="label label-default"><small>Race/</small> @value.race.name</span>
                    <span class="label label-default"><small>Class/</small> @value.cls.name</span>
                    <a class="label label-default" href="@routes.PlayerController.nameInventory(value.getId)">
                        Name Inventory @glyphicon("pencil")
                    </a>
                </td>
            </tr>
        }
    </table>
}
