@import play.api.mvc.Call
@import protobuf.core.Name

@(available: List[Name], set: Call, remove: Name => Call)

@for(name <- Name.values) {
    @if(available.contains(name)) {
        <button id="@name.name" type="button" class="btn btn-success btn-xs">
            @name.name @glyphicon("remove-sign")
        </button>

        <script>
            $('#@name.name').click(function() {
                @Api.noContent(remove(name))
            });
        </script>
    } else {
        <button id="@name.name" type="button" class="btn btn-success btn-xs disabled"  style="cursor: pointer">
            @name.name @glyphicon("plus-sign")
        </button>

        <script>
            $('#@name.name').click(function() {
                @Api.json(set) {{'name': '@name.name'}}
            });
        </script>
    }
}
