@import protobuf.core._

@(available: List[Name], label: protobuf.Label)

@Page.main {
    @for(name <- Name.values) {
        @if(available.contains(name)) {
            <button id="@name.name" type="button" class="btn btn-success btn-xs">
                @name.name @glyphicon("remove-sign")
            </button>

            <script>
                $('#@name.name').click(function() {
                    @Api.noContent(routes.NamesController.delete(label, name))
                });
            </script>
        } else {
            <button id="@name.name" type="button" class="btn btn-success btn-xs disabled"  style="cursor: pointer">
                @name.name @glyphicon("plus-sign")
            </button>

            <script>
                $('#@name.name').click(function() {
                    @Api.noContent(routes.NamesController.set(label, name))
                });
            </script>
        }
    }
}
